#command_holder{
	position: relative;
}

.btnSave-liu{
	position: absolute;
	top: 5px;
	right: 60px;
	text-align: center;
	height: 38px;
	color: #00b0ff;
	background: #fff;
	padding: 3px;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 32px;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    border: none;
    border-color: rgba(0,0,0,0.08) rgba(0,0,0,0.1) rgba(0,0,0,0.15);
    width: 70px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.10);
    min-width: 70px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 14px;
}
#command_holder .command_button_content{
	width: 70px;
	min-width: 70px;
}
.commandBar_helper {
    max-height: 50px;
    overflow: auto;
}
#form_command_bar .toolbar_helper{
	height: 50px;
    overflow: auto;
}